@font-face {
  font-family: 'Pacman';
  src: url('./fonts/PacFont.woff2') format('woff2'),
       url('./fonts/PacFont.ttf')  format('truetype'),
       url('./fonts/PacFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #111;
  margin: 0;
  cursor: url('./img/man.ico'), pointer;
  background-image: url('./img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  height: 100%;
}

.title {
  margin: 0;
  font-family: 'Pacman';
  font-size: 100px;
  color: #5353ff;
  text-shadow: 7px 7px 7px #5353ff;
  text-align: center;
  padding: 50px 0 80px;
}

.title span {
  color: #fcf81b;
}

img {
  position: absolute;
  right: 0;
  bottom: 5%;
}

.board-container {
  position: relative;
  max-width: 720px;
  z-index: 100;
}

#board {
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  background: #353535;
  box-shadow: 0 0 2px #000;
  transition: 1s ease;
  margin: 2px;
}

.square:hover {
  transition-duration: 0s;
}

.dot:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcf81b;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin: auto;
}

.cursor {
  position: absolute;
  background: url('./img/pac.ico');
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  transition: .4s;
}

.cursor-hidden {
  display: none;
}